package handlers

import (
	"github.com/spf13/viper"
	"{{.Name}}/internal/app/{{.Name}}/server/middleware"
	"{{.Name}}/pkg/schemas"
	"net/http"
	"strings"
)

type Home struct {
	l *middleware.Log
}

func NewHome(l *middleware.Log) *Home {
	return &Home{
		l: l,
	}
}

func (h *Home) Handler(w http.ResponseWriter, r *http.Request) {
	if r.Method != http.MethodGet {
		http.Error(w, "Method Not Allowed", http.StatusMethodNotAllowed)
		return
	}

	// https://stackoverflow.com/a/40382340
	hp := schemas.HomePage{
		AppName: strings.ToTitle(strings.ToLower(viper.Get("app_name").(string))),
		AppDesc: viper.Get("app_desc").(string),
	}

	h.l.Utils.Log.Infof("hp = %v", hp)
	h.l.Utils.RenderTemplate(w, "pages", "home", hp)
}