// Copyright {.DateYear} {{.CompanyName}}. All rights reserved.
// Use of this source code is restricted to
// {{.CompanyName}}. and/or
// its subsidiaries.

/*

Package xml contains XML response functions.

*/
package xml
