// Copyright {.DateYear} {{.CompanyName}}. All rights reserved.
// Use of this source code is restricted to
// {{.CompanyName}}. and/or
// its subsidiaries.

/*

Package html contains HTML response functions.

*/
package html
