// Copyright {.DateYear} {{.CompanyName}}. All rights reserved.
// Use of this source code is restricted to
// {{.CompanyName}} and/or
// its subsidiaries.
/*

Package json contains JSON response functions.

*/
package json
